.swiperImg{
    width: 100%;
    height: 20%;
}

.weui-panel__bd ul li{
    position: relative;
    float: left;
    margin-right: 4px;
    overflow: hidden;
    margin-bottom: 2px;
    list-style: none;
}

.proImg{      
    /* display: block;
    overflow: hidden; */
    width: 118px;
    height: auto;
    /* margin: 2px; */
    border: 1px solid #B8B3B3;
    /* float: left; */
    text-align: center;
}	

.proDescPanel{
    float: left;
}

.productTitle{
    width: 110px;
    font-size: xx-small;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
}